{% if app.user and is_granted('ROLE_ADMIN') %}
<ul id="dropdown1" class="dropdown-content">
    <li>
        <a href="{{ path('admin') }}">Administration</a>
    </li>
    <li>
        <a href="{{ path('change.pwd') }}">Changer le mot de passe</a>
    </li>
    <li>
        <a href="{{ path('logout') }}">Se déconnecter</a>
    </li>
</ul>
{% endif %}