{% extends "layout.html.twig" %}
{% block title %} Les chapitres {% endblock title %}
{% block content %}
    <h2 class="blue-grey-text text-darken-2">A propose de l'écrivain :</h2>
    <p>Billet simple pour l'Alaska</p>
{% endblock content %}