{% extends "layout.html.twig" %}
{% block title %} Les chapitres {% endblock title %}
{% block content %}
    <h1 class="blog-title">A propose de l'écrivain :</h1>
    <p class="lead blog-description">Billet simple pour l'Alaska</p>
{% endblock content %}