{% extends "layout.html.twig" %} 
{% block title %} Les chapitres {% endblock title %} 
{% block content %}
<h2 class="blue-grey-text text-darken-2">Voici les différents chapitres :</h2>
<hr>
<div class="container">
    {% for article in articles %}
        <h3>Chapitres {{ article.chapter }}</h3>
    {% endfor %}
</div>
{% endblock content %}