{% extends "layout.html.twig" %}
{% block title %}
    Erreur !
{% endblock title %}
{% block content %}
    <div class="container row">
        <div class="col l6 m12">
            <img class="responsive-img" src="{{asset('img/404.png')}}" alt="Erreur 404">
        </div>
        <div class="col l6 m12">
            <h1 class="blue-grey-text text-darken-2">Whooops...</h1>
            <h2 class="blue-grey-text">{{ message }}</h2>
        </div>
    </div>
{% endblock content %}
