{% extends "layout.html.twig" %}
{% block title %}
    Erreur !
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="col m6 s12">
            <p>mettre image</p>
        </div>
        <div class="col m6 s12">
            <h1>Whooops...</h1>
            <h2>{{ message }}</h2>
        </div>
    </div>
{% endblock content %}
