{% extends "layout.html.twig" %} {% block title %} Home {% endblock title %} {% block content %}
<img src="/img/alaska_01.jpg" alt="Paysage de l'Alaska" class="img-fluid">
<h1 class="blog-title">Bienvenue sur mon blog</h1>
<p class="lead blog-description">Billet simple pour l'Alaska</p>
{% endblock content %}