{% extends 'layout.html.twig' %} 
{% block content %}
<div class="container">
    <h2 class="blue-grey-text text-darken-2"><i class="material-icons large icon-bottom-large">person</i> Authentification</h2>
    <hr>
    {% if error %}
    <div class="card-panel red">
        <strong>Erreur de login ou de mot de passe</strong>
    </div>
    {% endif %}
    <div>
        <form role="form" action="{{ path('login_check') }}" method="post">
            <div class="input-field">
                <label for="username">Votre pseudo :</label>
                    <input type="text" name="_username" value="{{ last_username }}" id="username" required autofocus>
            </div>
            <div class="input-field">
                <label for="password">Votre mot de passe :</label>
                    <input type="password" name="_password" id="password" required>
            </div>
            <div class="input-field">
                <div>
                    <button type="submit" class="btn-floating tooltipped waves-effect btn-large green lighten-1" data-position="right" data-delay="30" data-tooltip="Se connecter"><i class="material-icons left">exit_to_app</i></button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}