h3 {
    margin-top: 100px;
}

.text-tiny {
    font-size: 1.2rem;
}

.chapter-title {
    margin-bottom: 0;
    padding-bottom: 0;
}

footer {
    height: auto;
    margin-top: 50px;
    background-color: #292b2c;
    text-align: center;
}

.footer_admin {
    padding: 10px;
}

.footer_admin p,
.footer_admin a {
    color: whitesmoke;
    margin: 0;
}