/* GLOBAL 
-------------------------------------------------------------------------------------*/
hr {
    margin-bottom: 30px;
    border-width: 0 0 .5px 0;
    border-style: solid;
    border-color: rgba(0,0,0,0.3);
}

/* Nav 
-------------------------------------------------------------------------------------*/

.brand-logo {
    margin-left: 10px;
}

.dropdown-content {
    top: 64px ! important;
}

.dropdown-content li > a {
    color: #455a64;
}

.dropdown-content li:hover {
    background-color: #455a64;
}

.dropdown-content li:hover a {
    color: white;
}

/* Home 
-------------------------------------------------------------------------------------*/

.card-article {
    height: 510px;
}

.card-content h3 {
    font-size: 2rem;
}

.card-image {
    max-height: 160px!important;
}

/* Single 
-------------------------------------------------------------------------------------*/

.img-header {
    width: 100%;
    height: auto;
}

.img-header-block {
    position: relative;
    max-height: 300px;
    overflow: hidden;    
}

.article-chapter {
    display: block;
    margin-top: -30px;
}

.article-chapter-small {
    text-align: center;
    display: block;
    margin-bottom: -25px;
}

.reply-comment {
    margin-left: 75px;
}

.parallax-container {
    height:50vh;
}

.report {
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    font-size: 1rem;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
}

/* Chapter 
-------------------------------------------------------------------------------------*/
.chapter {
    padding:15px; 
    margin-bottom: 20px;
}

.chapter-img-block {
    width: 100%;
}

.chapter-img {
    width: 100%;
}


/* Admin 
-------------------------------------------------------------------------------------*/
.indicator {
    background-color: #607d8b ! important;
}

/* Admin Article 
-------------------------------------------------------------------------------------*/
.img-art-edit-block {
    max-height: 300px;
    overflow: hidden;
    margin: 5px 0 15px 0;
}

.img-art-edit {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.info {
    margin-top: 50px;
}

.image-label {
    font-size: 1.5rem;
}

.chapter-title {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Admin Article 
-------------------------------------------------------------------------------------*/
.admin-thumb-block {
    width: 200px;
}

.admin-thumb {
    width: 100%;
}


/* Footer 
-------------------------------------------------------------------------------------*/
footer {
    height: auto;
    margin-top: 50px;
    background-color: #292b2c;
    text-align: center;
}

.link-footer {
    color: white;
}

/* Helpers 
-------------------------------------------------------------------------------------*/

.text-tiny {
    font-size: 1.2rem;
}

.mt100 {
    margin-top: 100px;
}

.mt_btn{
    margin-top: 10px;
}
.mb_btn{
    margin-bottom: 10px;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.icon-bottom-tiny {
    position: relative;
    bottom: -2px;
}

.icon-bottom-small {
    position: relative;
    bottom: -5px;
}

.icon-bottom-medium {
    position: relative;
    bottom: -10px;
}

.icon-bottom-large {
    position: relative;
    bottom: -15px;
}

.no-pointer:hover {
    cursor: default;
}

