# Redirect incoming URLs to index.php
<IfModule mod_rewrite.c>
    #Options -MultiViews
    Options +FollowSymLinks

    RewriteEngine On

    RewriteBase /
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
